<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a th:href="@{/console}" class="waves-effect">
            <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>
            控制台
          </a>
        </li>
        <li>
          <a th:href="@{/admin/list}" class="waves-effect">
            <i class="fa fa-user m-r-10" aria-hidden="true"></i>
            管理员管理
          </a>
        </li>
        <li>
          <a th:href="@{/user/list}" class="waves-effect">
            <i class="fa fa-table m-r-10" aria-hidden="true"></i>
            用户管理
          </a>
        </li>
        <li>
          <a th:href="@{/product/list}" class="waves-effect">
            <i class="fa fa-font m-r-10" aria-hidden="true"></i>
            商品审核
          </a>
        </li>
        <li>
          <a th:href="@{/shop/list}" class="waves-effect">
            <i class="fa fa-globe m-r-10" aria-hidden="true"></i>
            商铺审核
          </a>
        </li>
        <li>
          <a th:href="@{/news/list}" class="waves-effect">
            <i class="fa fa-columns m-r-10" aria-hidden="true"></i>
            资讯信息审核
          </a>
        </li>
        <li>
          <a th:href="@{/logout}" class="waves-effect">
            <i class="fa fa-sign-out m-r-10" aria-hidden="true"></i>
            退出登录
          </a>
        </li>
      </ul>

    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>